header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #F8F8F8;

  h1 {
    margin: 0;
    font-size: 2rem;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    a {
      color: #333;
      text-decoration: none;
      font-weight: bold;
      padding: 0.5rem;

      &:hover {
        background-color: #333;
        color: #F8F8F8;
      }

      &[routerLink=".active"] {
        background-color: #333;
        color: #F8F8F8;
      }
    }
  }
}

app-route {
  margin-top: 2rem;
}
