<!DOCTYPE html>
<html ng-app>
    <head>
        <script src="js/angular.js"></script>
        <script>
            function ToDoController($scope) {
            $scope.todos = [
                {text:'Learn HTML5', done:true},
                {text:'Learn jQuery', done:false},
                {text:'Learn AngularJs', done:false}];
                
            $scope.todoText = '';
            
            $scope.addTodo = function() {
                if ($scope.todoText.trim() != '') {
                    $scope.todos.push(
                        {text:$scope.todoText, done:false});
                    $scope.todoText = '';
            }
            };
            
            $scope.remaining = function() {
                var count = 0;
                angular.forEach($scope.todos, function(todo) {
                count += todo.done ? 0 : 1;
                });
                return count;
            };
            
            $scope.archive = function() {
                var oldTodos = $scope.todos;
                $scope.todos = [];
                angular.forEach(oldTodos, function(todo) {
                if (!todo.done) $scope.todos.push(todo);
                });
            };
            }
        </script>
    </head>
    <body>
        <h2>Todo List</h2>
        <div ng-controller="ToDoController">
            <span>{{remaining()}} of {{todos.length}} remaining</span>
            [ <a href="" ng-click="archive()">Archive</a>]
            <ul>
                <li ng-repeat="todo in todos">
                    <input type="checkbox" ng-model="todo.done">
                    <span class="done-{{todo.done}}">{{todo.text}}</span>
                </li>
            </ul>

            <form ng-submit="addTodo()">
                <input type="text" ng-model="todoText" size="30" placeholder="Add new todo here">
                <input type="submit" value="Add">
            </form>
        </div>
    </body>
</html>